/* styles.css */

body {
  margin: 0;
  padding: 0;
}

/* Header */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
}
ul {
  display: inline;
  list-style-type: none;
  margin: 0;
}
li {
  display: inline-block;
  vertical-align: middle;
  width: min(100px, 10vw);
  margin: 5px 10px;
  padding: 13.8px 20px;
  font-size: 20px;
  text-align: center;
  background-color: white;
}
img#logo-img, #logo {
  vertical-align: middle;
  padding: 0 0;
  width: 50px;
  height: 50px;
}
a {
  color: black; 
  text-decoration: none;
}
a.visited {color: black; text-decoration: none;}
a:hover {color: black; text-decoration: none;}
a:focus {color: black; text-decoration: none;}
a:hover a:active {color: black; text-decoration: none;}

/* Main */
/* Home */
.title {
  text-align: center;
}

#home {
  margin: 50px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.home-grid {
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
}
/* About */
#about-text {
  text-align: center;
  padding: 0 50px;
  margin: 0 50px;
}
/* Projects */
#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  background-color: gray;
}
.card {
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  margin: 20px 20px;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  background-color: white;
}